<footer>
  <div class="container">
      <div class="footer">
          <div class="header">
              <div class="logo">
                  <img src="/assets/img/logos/iba-logo-slogan.svg" alt="IBA Global healing" />
              </div>
              <div class="texts">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam in facilisis enim venenatis. Enim cursus quam ut sollicitudin neque dignissim id. Eros euismod.</p>
                  <div class="social-media">
                      <a href="facebook.com" target="_blank" mat-icon-button matTooltip="Facebook"><img src="/assets/img/icons/facebook-circle.svg" alt="Facebook" /></a>
                      <a href="twitter.com" target="_blank" mat-icon-button matTooltip="Twitter"><img src="/assets/img/icons/twitter-circle.svg" alt="Twitter" /></a>
                      <a href="youtube.com" target="_blank" mat-icon-button matTooltip="Youtube"><img src="/assets/img/icons/youtube-circle.svg" alt="Youtube" /></a>
                  </div>
              </div>
          </div>
          <div class="links column-one">
              <div class="title"><b>Support</b></div>
              <div class="item-link"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Contact Us</a></div>
              <div class="item-link"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Help Center</a></div>
              <div class="item-link"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">FAQs</a></div>
          </div>
          <div class="links column-two">
              <div class="title"><b>Legal</b></div>
              <div class="item-link"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Privacy Policy</a></div>
              <div class="item-link"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Ethics</a></div>
              <div class="item-link"><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="link hover-linear">Media Kit</a></div>
          </div>
      </div>
      <div class="sub-footer">
          <p class="body-2"> Copyright @ 2005 - 2021 Agency Coda</p>
          <div class="powered">
              <p class="body-2"> Powered by <a href="" target="_blank" class="link hover-linear">Agency Coda</a> </p>
              <a href="" target="_blank"><img src="/assets/img/coda-favicon.svg" alt="Agengy Coda" /></a>
          </div>
      </div>
  </div>
</footer>
