<div class="modal-newsletter-container">
  <h1 class="modal-title">Sign up today for the <span>Lorem Newsletter!</span></h1>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select>
      <mat-option [value]="'Español'">Español</mat-option>
      <mat-option [value]="'English'">English</mat-option>
      <mat-option [value]="'All languages'">All languages</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>How did you find us? </mat-label>
    <mat-select>
      <mat-option [value]="'Español'">Option 1</mat-option>
      <mat-option [value]="'English'">Option 2</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="centered">
    <button mat-raised-button color="primary" style="padding: 0 30px;">Subscribe</button>
    <p class="policy-info"> Read our <a href="#" target="_blank">Privacy Policy</a> to see how we protect your data. </p>
  </div>

</div>
