@import "../../../../../assets/styles/vars";

mat-form-field {
  width: 100%;
  &::ng-deep .mat-form-field-wrapper {
    width: 100%;
    padding-bottom: 0;
  }
  &::ng-deep .mat-form-field-infix {
    padding: 12px 15px !important;
  }
  &::ng-deep .mat-form-field-outline {
    background-color: $color_background;
    border-radius: 5px;
  }

}
