@import "./vars";

.intro-component-animation {
  transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  -webkit-transition: $animation;
  animation: introComponent 0.3s ease-out;

  @keyframes introComponent {
    0% {
      position: relative;
      top: 20px;
      opacity: 0;
    }
    100% {
      position: relative;
      top: 0px;
      opacity: 1;
    }
  }
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 2em;
  @include xs {
    padding: 1.2em;
  }
  @include sm {
    padding: 1.2em 3em;
  }
}

.animated {
  transition: $animation;
  -moz-transition: $animation;
  -o-transition: $animation;
  -webkit-transition: $animation;
}

.link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $color_primary_500;
}

.hover-linear {
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: $color_primary_500;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
    border-radius: 100px;
  }
  &:hover {
    &:after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.separate-line-vert {
  width: 1px;
  min-width: 1px;
  height: 20px;
  min-height: 20px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  margin: 0 1em;
  display: inline-block;
}

.color-success {
  color: $color_success;
}

.color-primary {
  color: $color_primary_500;
}

.color-accent {
  color: $color_accent_500;
}
