@import "./vars";

.mat-dialog-title{
  display: flex;
  align-items: center;
  h3{
    margin: 0;
    margin-right: auto;
  }
}

.mat-dialog-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button{
    margin-left: 0.5em;
  }
}

.modal-full-width-mobile {
  @include xs {
    width: 100% !important;
    max-width: 100vw !important;
    height: 100%;
  }
  mat-dialog-container {
    border-radius: 8px;
    @include xs {
      border-radius: 0;
    }
  }
}


.mat-menu-toolbar-account{
  .header{
    padding: 1em;
    h4{
      margin: 0;
    }
    .body-2{
      color: $color_primary_500;
    }
  }
}

.modal-language-currency{
  mat-dialog-container{
    padding-top: 0 !important;
  }
}
